<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="main">
            <div>
            <h1>New and Trendy!!</h1>
            <p>Explore our new collection of books</p>
            <button>
                <a href="books">Get Started Now</a>
            </button>
            </div>
            <div>
                <img src="book1.png" alt="">
                <img src="book2.png" alt="">
                <img src="book3.png" alt="">
            </div>
        </main>
</body>
</html>